<div class="main-page">
    <div class="title">
      <h1 class="welcome-text">
        Welcome to myFlix!
      </h1>
    </div>
    
  
    <div class="welcome">
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px;"
        class="welcome-btns"
      >
        Sign Up
      </button>
    
      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
        style="margin-right: 10px;"
        class="welcome-btns"
      >
        Login
      </button>
    </div>
  
  </div>