<div class="main-page">
    <h1 class="title">
      Welcome to myFlix!
    </h1>
  
    <div class="welcome">
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px;"
        class="welcome-btns"
      >
        Sign Up
      </button>
    
      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
        style="margin-right: 10px;"
        class="welcome-btns"
      >
        Login
      </button>
    </div>
  
  </div>