/* color scheme:
    Morning sky #cae4db
    honey #dcae1d
    cerulean #00303f
    mist #7a9d96 */

.main-page {
    background-color: #7a9d96;
    width: 25rem;
    height: 31.25rem;
    text-align: center;
    margin: 6.5625rem auto;
    padding: 0.625rem;
    border-radius: 5px;
    border: 2px solid #cae4db;
}

.welcome-btns {
    background-color: #dca31d;
    color: #00303f;
    border: 1px solid #00303f;
    width: 7.4375rem;
    height: 2.6875rem;
    font-size: 1.125rem;
}

.welcome-btns:hover {
    background-color: #cae4db;
}

.welcome {
    text-align: center;
}

.title {
    background-image: url(../../movies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    height: 18.75rem;
    margin-top: 0;
    margin-bottom: 4.375rem;
}

.welcome-text {
    position: relative;
    top: 3.9375rem;
    font-size: 3.125rem;
    line-height: 3.3125rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: 2.5rem;
    -webkit-text-stroke: .5px #00303f;
}