<mat-card>
    <mat-card-header>
        <mat-card-title>Update User Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input 
                    matInput
                    [(ngModel)]="userDetails.Username"
                    type="text"
                    placeholder="Username"
                    name="Username"
                    required
                >
            </mat-form-field>

            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userDetails.Password"
                    type="Password"
                    placeholder="Password"
                    name="Password"
                    required
                >
            </mat-form-field>

            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userDetails.Email"
                    type="text"
                    placeholder="Email"
                    name="Email"
                    required
                >
            </mat-form-field>

            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userDetails.BirthDate"
                    type="date"
                    placeholder="Birthday"
                    name="Birthday"
                    required
                >
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-raised-button
            (click)="updateUser()"
            class="update-btn"
        >
            Update User
        </button>
        <button
            mat-raised-button
            (click)="cancel()"
            class="update-btn"
        >
            Cancel
        </button>
    </mat-card-actions>
</mat-card>