/* color scheme:
    Morning sky #cae4db
    honey #dcae1d
    cerulean #00303f
    mist #7a9d96 */

.mat-card {
    background-color: #7a9d96;
    text-align: center;
    margin-top: 8.75rem;
}

.mat-card-title {
    color: #00303f;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.mat-card-header {
    justify-content: center;
    height: 4.6875rem;
    line-height: normal;
    text-align: center;
    position: relative;
    width: 100%;
}

.mat-card-subtitle {
    color: #cae4db;
    font-size: 0.75rem;
    text-align: center;
}

.mat-card-actions {
    color: #cae4db;
    text-align: left;
    margin-top: 0.625rem;
}

.mat-button {
    display: block;
    margin: 0 !important;
}

img {
    width: 9.625rem;
    height: 13.625rem;
    margin-top: 0.625rem;
}

.mat-icon {
    float: right;
    margin-right: 1.125rem;
    cursor: pointer;
}