<app-nav-bar></app-nav-bar>

<div style="display: flex;">

    <mat-card *ngFor="let movie of movies; let i=index;" style="flex: 1 1 auto;">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <!-- <mat-card-subtitle>Directed By: {{movie.Director.Name}}</mat-card-subtitle> -->
        </mat-card-header>

        <mat-card-content>
            <img src={{movie.ImageUrl}} alt={{movie.Title}} />
            <mat-card-actions>

                <button
                    mat-button
                    (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death, movie.Director.ImageUrl)"
                >
                    Directed By: {{movie.Director.Name}}
                </button>
                
                <button
                    mat-button
                    (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
                >
                    {{movie.Genre.Name}}
                </button>
                
                <button
                    mat-button
                    (click)="openSynopsisDialog(movie.Title, movie.Description)"
                >
                    Synopsis
                </button>
            
                <!-- <mat-icon
                    class="favorite-button"
                    (click)="addMovieToFavorites(movie._id)"
                >
                    favorite -->
                    <!-- favorite_border -->
                <!-- </mat-icon> -->

                <mat-icon *ngIf="!favMovieStatus(movies._id)" 
                    (click)="addMovieToFavorites(movies._id)" 
                    class="favorite-button"
                >
                    favorite_border
                </mat-icon>
                <mat-icon *ngIf="favMovieStatus(movie._id)" 
                    (click)="removeFromFavorites(movie._id, movie.Title)" 
                    class="favorite-button-active"
                >
                    favorite
                </mat-icon>
                
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>


