/* color scheme:
    Morning sky #cae4db
    honey #dcae1d
    cerulean #00303f
    mist #7a9d96 */

.mat-card-header, 
.mat-card-title {
    color: #00303f;
}

.sign-up {
    background-color: #dcae1d;
    color: #00303f;
}