<app-nav-bar></app-nav-bar>

<div class="profile-body">
    <h4>Username: </h4>
    <p>{{ users.Username }}</p>

    <h4>Email:</h4>
    <p>{{ users.Email }}</p>

    <h4>Date of birth: </h4>
    <p>{{ users.BirthDate }}</p>

    <button
        (click)="openUpdateDialog()"
        class="profile-btn"
    >
        Update User
    </button>

    <h4>Your Favorite Movies:</h4>
    <div class="favorite-movies">
        <mat-card *ngFor="let favorite of favorites;" class="favorite-card">
            <mat-card-header class="favorite-card-title">
                <h3 class="fav-title">{{favorite.Title}}</h3>
            </mat-card-header>
            <img src={{favorite.ImageUrl}} alt={{favorite.Title}} />
            <button  
                aria-label="button removes from favorite movies"
                (click)="deleteFavorite(favorite._id, favorite.Title)"
                class="profile-btn"
            >
                Remove
            </button>
        </mat-card>
    </div>

    <button
        aria-label="button removes user's account"
        (click)="deleteUser()"
        class="delete-account profile-btn"
    >
        Delete account
    </button>
</div>