<app-nav-bar></app-nav-bar>

<div class="profile-body">
    <h4>Username: </h4>
    <p>{{ users.Username }}</p>

    <h4>Email:</h4>
    <p>{{ users.Email }}</p>

    <h4>Date of birth: </h4>
    <p>{{ users.BirthDate }}</p>

    <button
        (click)="openUpdateDialog()"
    >
        Update User
    </button>

    <h4>Your Favorite Movies:</h4>
    <div class="favorite-movies">
        <mat-card *ngFor="let favorite of favorites;" class="favorite-card">
            <mat-card-header class="favorite-card-title">
                <h3>{{favorite.Title}}</h3>
            </mat-card-header>
            <img src={{favorite.ImageUrl}} alt={{favorite.Title}} />
            <div class="delete-fav" 
                    (click)="deleteFavorite(favorite._id, favorite.Title)">
                <mat-icon mat-button>delete_forever</mat-icon>
                <h4 class="delete-fav-text">Remove</h4>
            </div>
        </mat-card>
    </div>

    <button
        (click)="deleteUser()"
    >
        Delete account
    </button>
</div>