/* color scheme:
    Morning sky #cae4db
    honey #dcae1d
    cerulean #00303f
    mist #7a9d96 */

.profile-body {
    margin: 9.375rem auto;
    text-align: center;
    background-color: #7a9d96;
    width: 70%;
    max-width: 43.75rem;
    border: 2px solid #cae4db;
    padding: 1.875rem;
}

h4 {
    color: #00303f;
    margin: 0.3125rem auto;
    margin-top: 1.25rem;
    font-size: 1.25rem;
} 

p {
    color:#cae4db;
    font-size: 1.25rem;
}

.mat-card {
    display: inline-block;
    width: 40%;
    margin: 0.3125rem;
    z-index: 0;
}

img {
    display: block;
    height: 9.375rem;
    text-align: center;
    margin: 5px auto;
}

.fav-title {
    margin: 0.3125rem 0;
    text-align: left;
    height: 2.8125rem;
    color: #00303f;
}

.delete-account {
    margin-top: 2.5rem;
}

.profile-btn {
    background-color: #dcae1d;
    padding: 0.3125rem;
}